* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h1 {
  display: flex;
  justify-content: center;
  color: blanchedalmond;
  background-color: lightpink;
}

body {
  background-color: darkseagreen;
}

#demo {
  font-family: 'Amatic SC', cursive;
  display: flex;
  justify-content: center;
  font-size: 75px;
  padding: 20px;
}

.hula {
  display: flex;
  justify-content: center;
  padding: 50%;

}
